<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Enter your text here</h1>
    <form action="analyze/" method="get">
        <textarea name="text" style="height: 200px; width: 1000px;"></textarea>
        <br><br><br>
        <input type="checkbox" name="remPunc" id="">Remove Punctuation
        <br><br>
        <button>Analyze text</button>
    </form>
</body>

</html>